{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": [
        "**/tsconfig/*.json",
        "**/tsconfig.*.json",
        "**/tsconfig.json",
        "**/.vscode/*.json"
      ],
      "options": { "parser": "jsonc", "trailingComma": "all" }
    }
  ]
}
